<h1>投稿一覧</h1>
<%= search_form_for @q do |f| %>
<div class="search-field">
  <%# <%= f.label :title_cont, "TITLE検索" %>
  <%= f.search_field :title_cont, placeholder: " タイトル検索", class: "title" %>
  <%= f.submit "検索", class: "button" %>
</div>
<% end %>
<% @posts.each do |post| %>
  <div id="index">
    <div class="post-user-name">
      <%= link_to post.user.name, user_path(post.user) %>
    </div>
    <div class="post-title">
      <%= link_to post.title, post_path(post) %>
    </div>
    <div>
      <%= post.content %>
    </div>
  </div>
<% end %>

<%= paginate @posts %>
<%= page_entries_info @posts %>
